.cirkle__box{
    width: 1200px;
    margin: 5px auto;
    padding: 0 10px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: antiquewhite;

}
.cirkle{
    width: 100px;
    height: 100px;
    background-color: black;
    transition: 1s;
}
.cirkle:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: red;
    transition: 1.5s;
}